<div>
	<div class="header">
		<a class="nav-link" href="#about">About</a>
	</div>
	<div class="content" ng-controller="InputDropdownController as dropdownCtrl">
		<form name="formObjects" ng-submit="dropdownCtrl.submitCity()" novalidate="">
	      <input-dropdown input-placeholder="City" input-name="city" input-required="true" selected-item="city" default-dropdown-items="dropdownCtrl.defaultDropdownObjects" filter-list-method="dropdownCtrl.filterCities(userInput)"
	      ></input-dropdown>
	      <button type="submit" ng-disabled="demoFormObjects.$invalid">Submit</button>
	    </form>
		<div ng-if="coffeeShop" class="shop">
			<h1>{{coffeeShop.name}}</h1>
			<img ng-src="{{coffeeShop.image_url}}" />
			<span class="spa" ng-if="!is_closed">They are open!</span>
			<span class="spa" ng-if="is_closed">They are currently closed.</span>
			<br>
			<img ng-src="{{coffeeShop.rating_img_url_large}}" />
			<span>Phone: {{coffeeShop.display_phone}}</span>
			<h4>Check em out on <a ng-href="{{coffeeShop.url}}">yelp</a> !</h4>
		</div>
	  	<h4 ng-if="data">{{city.readableName}}</h4>
		<nvd3 options="options" data="data"></nvd3>
	</div>
</div>

